body {
    background-color: #0d6efd
}

.main {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}

#bookTable {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;

    th {
        background-color: #0d6efd;
        text-align: left;
        font-weight: 300;
        color: whitesmoke;
        padding: 10px 5px;
    }

    td {
        text-align: left;
        font-weight: 300;
        color: black;
        padding: 10px 5px;
    }
}


#bookTable tr:nth-child(odd) {
    background-color: #f9ecfb;
}

#bookTable th:nth-child(1) {
    border-radius: 10px 0 0 0;
}

#bookTable th:nth-child(4) {
    border-radius: 0 10px 0 0;
}

.saveButton {
    margin-top: 20px;
}